@import '../../../styles/styles.scss';

.MonthHead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .navButton {
    border: none;
    background-color: rgba($gray, 0.5);
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 1.5rem;
    margin: 0 15px;
    width: 200px;
    text-align: center;
  }
}
