@import '../../styles/styles.scss';

.FormInput {
  display: flex;
  flex-direction: column;
  height: 56px;

  .input {
    display: block;
    background-color: $white;
    border: 1px solid $grayLight;
    height: 40px;
    border-bottom: 3px solid $main;
    padding: 0 10px;
    font-size: 16px;
    transition: 0.25s;
    color: $black;

    &::placeholder {
      color: $gray;
      font-size: 16px;
      text-transform: capitalize;
    }

    &:focus {
      border-bottom-color: $tertiary;
    }

    &.hasError {
      border-bottom-color: $red;
    }

    &:disabled {
      border-bottom-color: $gray;
      opacity: 0.5;
    }
  }

  .error {
    display: block;
    height: 16px;
    font-size: 14px;
    color: $red;
  }
}
